<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.core.sys.mapper.RoleMapper">



    <select id="countUserByRoleId" resultType="java.lang.Integer">
      SELECT
          count( * )
      FROM
          sys_user
      WHERE
          role_id = #{value}
  </select>


    <select id="findDefaultRole" resultType="com.example.forum.core.sys.entity.Role">
        SELECT
          *
        FROM
          sys_role
        WHERE
           code = 'user' or name = '普通用户'
        LIMIT 1
    </select>



</mapper>